#appBg {
    height: 420px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

#appBg form {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

#appBg input[type=textfield] {
    height: 25%;
    width: 100%;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
}

#appBg input[type=button], input[type=reset] {
    width: 22%;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: black;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
}

#appBg .orange {
    background-color: rgb(253, 149, 3) !important;
    color: white !important;
}

#appBg .gray {
    background-color: rgb(51, 51, 51) !important;
    color: white !important;
}